{% extends 'base.html.twig' %}

{% block body %}

<h1>Bienvenue bibliothèque!</h1>

<p>Lacus vivamus sed eu. Sodales a ad dis fermentum pretium adipiscing eros sociosqu. Gravida hendrerit ligula posuere leo nam praesent et, cursus mus. Venenatis pharetra nunc amet fermentum montes natoque proin amet quam natoque in! Mi mus massa tellus urna cras. Ipsum nisi iaculis mattis taciti class eget sodales. Lobortis habitasse pulvinar ornare lacinia porttitor maecenas platea justo. Hendrerit facilisis eget lacus penatibus sem felis quisque? Accumsan justo donec ridiculus ornare</p>

<p>Lacus vivamus sed eu. Sodales a ad dis fermentum pretium adipiscing eros sociosqu. Gravida hendrerit ligula posuere leo nam praesent et, cursus mus. Venenatis pharetra nunc amet fermentum montes natoque proin amet quam natoque in! Mi mus massa tellus urna cras. Ipsum nisi iaculis mattis taciti class eget sodales. Lobortis habitasse pulvinar ornare lacinia porttitor maecenas platea justo. Hendrerit facilisis eget lacus penatibus sem felis quisque? Accumsan justo donec ridiculus ornare</p>

<p>Lacus vivamus sed eu. Sodales a ad dis fermentum pretium adipiscing eros sociosqu. Gravida hendrerit ligula posuere leo nam praesent et, cursus mus. Venenatis pharetra nunc amet fermentum montes natoque proin amet quam natoque in! Mi mus massa tellus urna cras. Ipsum nisi iaculis mattis taciti class eget sodales. Lobortis habitasse pulvinar ornare lacinia porttitor maecenas platea justo. Hendrerit facilisis eget lacus penatibus sem felis quisque? Accumsan justo donec ridiculus ornare</p>

{% endblock %}